<a href="https://colab.research.google.com/github/SGK2401/COLOR/blob/main/1501Q_Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---

<h1>$\text{Introduction to Python}$</h1>

---


---

<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">UConn PHYS1501Q Teaching Colab Files</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">A. Daniels, Z. Transport, H. Morrill, J. Jaconetta, M. Phelps, J. Hancock, A. Mathioudakis</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.

---

Before you begin, go to the "**File**" menu above, and click on "**Save a copy in Drive**".   If you forget to do this step, you may end up losing your work!

In [ ]:
#@title <font color="red"> Make a copy of this file before proceeding!

Section = "--- no selection ---" #@param ["--- no selection ---", "001 - MoWeTh 10:10am-12:05pm", "002 - MoWeTh 12:20pm-2:15pm", "003 - MoWeTh 2:30pm-4:25pm", "004 - MoWeTh 4:40pm-6:35pm", "005 - TuThFr 8:00am-9:55am", "006 - TuThFr 10:10am-12:05pm", "007 - TuThFr 12:20pm-2:15pm"]
Student_Name = "Name" #@param {type:"string"}

---

<h1>$\text{Learning Objectives}$</h1>

---

By the end of this introduction, you will be able to:

* Identify data types and describe situations in which they are used
* Identify and resolve simple syntax errors
* Define variables and create functions to perform calculations in Python
* Enter data into lists and arrays to perform calculations
* Create a plot of data stored in a list or array

This assignment is an overview of introductory `Python` material.  For a full review of `Python`, see the "Introduction to Python" section of your lab manual.



---

<h1>$\text{Basics}$</h1>

---

Welcome to the Google Colab `Python` Notebook environment! Here, the language you will be writing your code in is called `Python`. `Python` is the programming language we will be using in the laboratory to analyze data, create graphs, calculate error, visualize relationships between variables, and much more.



---

<h2>$\text{Input/Output}$</h2>

---

Unlike traditional `Python` code, Google Colab allows us to break up our code blocks with text (such as this text cell).

Rather than execute an entire script, each block of code is executed individually. To run your code in the cell you are working on, press `Shift+Enter` on your keyboard or press the "play" arrow <img src="https://drive.google.com/uc?id=1p_-EqzaDj0MNnNE3C5e6rMFv6CbaAHuF" width="25px" align="center"> button in the top left corner.

In the cell below, enter any random number that you like. Then press `Shift+Enter` or press the "play" arrow <img src="https://drive.google.com/uc?id=1p_-EqzaDj0MNnNE3C5e6rMFv6CbaAHuF" width="25px" align="center"> button in the top left corner.

In [ ]:
#Enter a number on the line below:

Notice how the input line changes from `[ ]` to brackets with a number once the cell has been run? The order in which the cells have been run can be determined by the number in the brackets. Every time a cell is run, the output counter increases by 1.

**Remember:** The cells also follow a hierarchy. To collapse a section, click on the ▾ to the left of one of the larger section headers. Click again to expand.



---

<h2>$\text{Datatypes}$</h2>

---

There are three types of data you'll use in `Python`: strings, integers, and floats.  **Strings** are sequences of characters surrounded by quotation marks.  You will be using strings as labels.  Below is an example of a string:

In [ ]:
"hello, world"

**Integers** are whole numbers that can be positive or negative.  They are just numbers without decimal points.  Below is an example of an integer:

In [ ]:
36

**Floats** (which is shorthand for **floating point numbers**) are numbers that utilize a decimal point.  Below is an example of a float:

In [ ]:
4.156

---
> * Q1: **Does the code below contain a string, integer, or a float?**

In [ ]:
17.1

In [ ]:
Q1 = "" #@param {type:"string"}

---

---
> * Q2: **Does the code below contain a string, integer, or a float?**

In [ ]:
"44.3"

In [ ]:
Q2 = "" #@param {type:"string"}

---



---

<h2>$\text{Calculator}$</h2>

---

`Python` can function as an ordinary calculator.  You can add, subtract, multiply, and divide numbers.

Execute the input cells below (`Shift+Enter` or <img src="https://drive.google.com/uc?id=1p_-EqzaDj0MNnNE3C5e6rMFv6CbaAHuF" width="25px" align="center">).

In [ ]:
3*10/2

**Remember:** always add an `*` when you want to multiply an expression in parentheses. Unlike your calculator, `Python` must be told when to multiply by using an asterisk `*`, even when parentheses are present. Otherwise, `Python` will interpret the code as a function.  Running the cell below will result in an error message and will point to the line of code that needs to be fixed. Run the code to see the error message and then fix the code in the cell so that it runs without any errors.

In [ ]:
5(3+2)

---
> * Q3: **Calculate $$\left(\frac{44}{2}-6\right)*2$$ in the code block below, and write the answer in the text box:**
>
> *(**Note:** You must clear the contents of the code cell below and remove the entire `"insert math here"` string. Then, you can enter your calculation in the code block below. Finally, enter the output in the **Q3** box.)*

In [ ]:
"insert math here"

In [ ]:
Q3 = "" #@param {type:"string"}



---

To perform exponential operations, `Python` uses the format `**` to represent `^`, which is the symbol used by most calculators.

In [ ]:
(3**2+1)/2

Proper use of parentheses is important. The expression above different than the expression below. Use `Shift+Enter` or <img src="https://drive.google.com/uc?id=1p_-EqzaDj0MNnNE3C5e6rMFv6CbaAHuF" width="25px" align="center"> to execute.

In [ ]:
3**2+1/2

---
> * Q4: **Calculate $$\frac{1}{2^5+1}$$ in the code block below, and write the answer in the text box:**
>
> *(**Note:** You must clear the contents of the code cell below and remove the entire `"insert math here"` string. Then, you can enter your calculation in the code block below. Finally, enter the output in the **Q4** box.)*

In [ ]:
"insert math here"

In [ ]:
Q4 = "" #@param {type:"string"}



---



---

<h2>$\text{Packages}$</h2>

---

Now, lets try writing some code. Unlike MATLAB or Mathematica, `Python` is open-source, meaning anyone can contribute there own modules that are useful for certain tasks. We will mainly be using `numpy`, which is a Python-based ecosystem of open-source software for mathematics. In `Python` we use the `import` command to let Colab know where we want to import from.

In [ ]:
import numpy as np

Now that `numpy` is loaded, let's start to do some basic calculations.  We can call on `numpy` functions using the command `np.` in our code.

For example, we may evaluate the cosine of 0 as `np.cos(0)`.

In [ ]:
np.cos(0)

Further examples:

In [ ]:
np.exp(3)

In [ ]:
np.sqrt(9)

In this example, `log(x)` denotes the natural log, $\ln(x)$, while `log10(x)` denotes $\log_{10}(x)$.

In [ ]:
np.log(2)

In [ ]:
np.log10(2)

---
> * Q5: **Calculate $$\sqrt{2}\sin(0.5)$$ in the code block below, and write the answer in the text box:**
>
> *(**Note:** You must clear the contents of the code cell below and remove the entire `"insert math here"` string. Then, you can enter your calculation in the code block below. Finally, enter the output in the **Q5** box.)*

In [ ]:
"insert math here"

In [ ]:
Q5 = "" #@param {type:"string"}



---



---

<h1>$\text{Defining Variables}$</h1>

---

To define variables, we simply use `=`.

For example, we can assign the value of 3 to variable `a` and 4 to `b`. The green line at the top of the code block is called a comment. To make a comment, you must begin the line with a single `#`. Keep these brief but make sure they are clear. Comments are not only for you (so that you can remember what your code does) but also for anyone else that looks at your code. As it's not always clear what someone else's code is doing, commenting on your code is a way of communicating with the person running the code exactly what each block of code is doing.

In [ ]:
# Let a = 3 and b = 4.

a = 3
b = 4

Once we execute the cell, we have stored our variables `a` and `b` as numerical values within the computer. When we call upon them again, it "remembers".

In [ ]:
a

Unlike some languages, you do not need to end each line with a semi-colon (`;`). Unless the end of your code block ends with a variable to print, Colab will hide the output when the block is run. However, using a semi-colon will surpress, or hide, the output if it is the last character in your code.

For example, try to print the stored `b` variable now.

In [ ]:
b;

As you can see, because of the semi-colon, the output for this cell is surpressed.

Let's write another line of code to find the square root of the sum of two squares,  `a` and `b`, and store the result as a variable, `c`, as well.
$$c = \sqrt{a^{2} + b^{2}}$$

In [ ]:
c = np.sqrt(a**2 + b**2)

As you can see, although we stored our computation we haven't yet been shown the result. To do this we can use the `print()` function to display the variable `c`.

In [ ]:
print(c)

---
> * Q6: **Calculate: $$b\left(\frac{c}{a}\right)$$ in the code block below, and write the answer in the text box:**
>
> *(**Note:** You must clear the contents of the code cell below and remove the entire `"insert math here"` string. Then, you can enter your calculation in the code block below. Finally, enter the output in the **Q6** box.)*

In [ ]:
"insert math here"

In [ ]:
Q6 = "" #@param {type:"string"}



---


---

<h1>$\text{Creating Functions}$</h1>

---

Now that we have seen functions from `numpy` to perform calculations, let's write a function of our own. Execute the cell below to define the function $f(x)=x^2$.

In [ ]:
def testfunction(x):
  return x**2

Let's break down the part of how this function is structured. In `Python` a function is defined using the `def` keyword.

The next part of the syntax is where you name your function. In this case, `testfunction`.

Information can be passed to functions as parameter. Here, we are using `x`. Parameters are specified after the function name, inside the parentheses. You can add as many parameters as you want, just separate them with a comma.

To let a function return a value after performing calculations, use the `return` statement. Enter the calculation(s) you would like your function to perform after the return statement.

Test out the `testfunction`.

In [ ]:
testfunction(3)

In [ ]:
testfunction(5.5)

---
> * Q7: **In cell below, create a function of a single variable named `myfunction` which represents $$f(x)=\dfrac{1}{x}+x$$ Then, in the same cell, evaluate the function at $x=5$.**
>
> *(**Note:** You must clear the contents of the code cell below and remove the entire `"insert math here"` string. Then, you can define your function in the code block below and call your function for the specified value. Finally, enter the output in the **Q7** box.)*

In [ ]:
"insert math here"

In [ ]:
Q7 = "" #@param {type:"string"}



---



---

<h1>$\text{Lists}$</h1>

---

In future labs, we will acquire large amounts of data in the form of lists or arrays. `Python` takes a ordered list (1, 2, 3, 4, 5) using the syntax `[i_1, i_2, ..., i_n]`. Note the form of the list.

In [ ]:
mylist = [1,2,3,4,5]



---

<h2>$\text{Length of a List}$</h2>

---

Given our list `list = [1,2,3,4,5]`, we can find the length of this list, i.e. the total number of elements, with the function `len()`.

In [ ]:
len(mylist)



---

<h2>$\text{List Indexing}$</h2>

---

Let us start with a random collection of values, stored in the list-type variable named `example`.

In [ ]:
example = [8, 11, 8, 11, 10, 5, 9, 7, 10, 12, 4, 5, 12, 14, 10,
           7, 14, 6, 10, 10, 7, 11, 6, 12, 10, 17, 8, 6, 11, 13,
           13, 9, 11, 7, 13, 10, 12, 6, 14, 12, 11, 9, 12, 15, 10,
           6, 7, 7, 11, 14, 6, 12, 7, 6, 10, 10, 11, 16, 12, 14,
           9, 12, 7, 14, 7, 16, 10, 9, 9, 8, 14, 8, 5, 14, 10, 7,
           10, 9, 13, 12, 9, 11, 9, 7, 13, 12, 6, 12, 8, 12, 8,
           10, 7, 7, 10, 9, 12, 11, 7, 9]

To access any individual element of this list, we use one set of brackets, i.e. `example[i]` returns the $i^\text{th}$ element of the list `example`.

Unlike Mathematica and MATLAB, `Python` begins indexing at 0, not at 1. Thus, the first element of our list will have an index number of 0. Check to make sure that the code matches your expectation.

In [ ]:
example[0]

Sample the 7th element of the list `example` below.

In [ ]:
example[6]

We can also have a list with two indices. For example,

In [ ]:
sample = [[3, 2], [4, 5], [7, 1]]

Notice that `sample` is a single list of ordered pairs of numbers (a nested list). Indexing nested lists is best seen by example.

Try to disect what is happening below.

In [ ]:
sample[0]

In [ ]:
sample[1]

In [ ]:
sample[1][0]

In [ ]:
sample[1][1]

---
> * Q8: **Indexing the list `sample`, output the element with value 7.**
>
> *(**Note:** You must clear the contents of the code cell below and remove the entire `"insert math here"` string. Then, you can define your function in the code block below and call your function for the specified value. Finally, enter the **same math from the cell above** in the **Q8** box.)*

In [ ]:
"insert math here"

In [ ]:
Q8 = "" #@param {type:"string"}



---



---

<h1>$\text{Arrays}$</h1>

---

We have already loaded the `numpy` package to perform some of the included mathematical operations and used them above. The `numpy` package also allows us to use **arrays**, which are great for data manipulation.  **Arrays** are very similar to lists of lists.  However, `numpy` has a lot of built-in functions for manipulating arrays.  We will be using arrays quite often in labs.

Let's create some arrays.  Below is an example of an array with ordered pairs:

In [ ]:
np.array([[3,2],[4,5],[7,1]])

Try the following example below, which demonstrates why arrays are useful when multiplying an array by a scalar. First we will define `array_1`.

In [ ]:
array_1 = np.array([1,6,3])

---
> * Q9: **In the code below, define the variable `array_2` to multiply `array_1` by 5.**
>
> *(**Note:** You must clear the contents of the code cell below and remove the entire `"write equation here"` string. Then, you can define your function in the code block below and call your function for the specified value. Finally, enter the output in the **Q9** box.)*

In [ ]:
array_2 = "write equation here"

print(array_2)

In [ ]:
Q9 = "" #@param {type:"string"}



---



---

<h1>$\text{Plotting}$</h1>

---

Most of the plotting we will do in this course will be done using the `matplotlib.pyplot` module. We import as follows:

In [ ]:
import matplotlib.pyplot as plt



---

<h2>$\text{Continuous Variable}$</h2>

---

To plot an expression of a continuous variable (as opposed to lists of discrete values), we utilize the `plt.plot()` function.

Let's plot the function $g(x)=x^2$ from [-1,1].

In [ ]:
x = np.linspace(-1,1)
g = x **2

In [ ]:
plt.plot(x, g)

plt.show()

Let's note what we did here. We defined the $x$-range and the mathematical expression we would like to plot. We then populated the `plt.plot()` function with 2 arguments. The first argument is $x$-range we would like to plot over, i.e. [-1,1]. The second argument is the mathematical expression, which in our case is $x^2$.

If we want to label the axes, we can set these options after defining the plot. For example, to label the vertical axis as `r"$g(x)$"` and the horizontal axis as `r"$x$"` we use the following syntax.

In [ ]:
plt.plot(x, g)
plt.ylabel("y-axis")
plt.xlabel("x-axis")
plt.show()

Don't worry too much about trying to remember the specific syntax for options like axes labels. You can always refer back to this Colab notebook for the syntax or use the internet as a resource. If you've developed a nice plot once, you can always go back and copy all its options, and change the specifics such as the labels and functions.



---

<h2>$\text{Discrete Variable}$</h2>

---

As mentioned, our experimental data is most often stored as lists or arrays of measured values. To create a scatter plot of data in this discrete form, we can do the following.

Below is an example list ```mydata``` composed of angles $\theta\ (\text{degrees})$ and ranges $R\ (\text{m})$ of launched projectiles, stored in the form \
`[[ θ_1, R_1 ], ... , [ θ_n, R_n ]]`.

Load some example experimental results into ```mydata``` below.

In [ ]:
mydata = [[0, 0], [10, 0.22], [25, 0.31], [50, 0.65]]

---
> * Q10: **To plot ```mydata```, we use a similar structure as before, but this time we must first use indexing to pick out our angle and range columns.**

In [ ]:
theta = [m[0] for m in mydata]
r = [n[1] for n in mydata]

> **We must also add a marker option ```'o'``` in order to change the plot style from a line to points. And, finally, change the axis labels below to `r"$\theta$ (degrees)"` and `r"$R$ (m)"`, respectively, to reflect the data we are plotting.**

In [ ]:
plt.plot(theta, r, 'o')
plt.ylabel("make sure to properly label your y-axis here")
plt.xlabel("make sure to properly label your x-axis here")
plt.savefig('Figure_1.png', dpi = 600, bbox_inches = "tight")
plt.show()

> *(**Note:** Notice the discrete values (i.e. our measurements) as opposed to the smooth continuous plot of $x^2$ we made.)*



---



---

<h2>$\text{Uploading Images}$</h2>

---

In this class, you will also make plots either using an embedded tool or using another software. If we want to add images of these plots to our Colaboratory notebook, we will need to upload them to the Colaboratory environment.

Below is a graphing tool that allows you to sketch a plot.

---
> * Q11: **Use the plot tool below to sketch a plot of a line with positive slope and a y-intercept of zero.**

In [ ]:
#@markdown > Run this cell to open the plot tool.
#@markdown >
#@markdown > Sketch a plot of a line with positive slope and y-intercept of 0.
#@markdown >
#@markdown > Click <img src="https://drive.google.com/uc?id=1r67BroKL128EjovyzszEjZbNz1CVt2kF" width="40px" align="center"> to begin your sketch. To change the color of the pen, make sure <img src="https://drive.google.com/uc?id=1r67BroKL128EjovyzszEjZbNz1CVt2kF" width="40px" align="center"> is selected, and click <img src="https://drive.google.com/uc?id=1eLvuYcjJiVL0oeYKTWdh6Ets8fFmKR8R" width="40px" align="center">.


from IPython.display import IFrame
IFrame(scrolling="no",
       src="https://www.geogebra.org/material/iframe/id/eztjrz4y/width/600/height/450/border/888888/sfsb/true/smb/true/stb/true/stbh/false/ai/false/asb/false/sri/false/rc/false/ld/false/sdz/true/ctl/false",
       width="600px",
       height="450px",
       style="border:0px;")

> Once you have completed your drawing, on the right top conrner of the sketchpad, click <img src="https://drive.google.com/uc?id=1DevZTI6ypOwxfkKFdk9hEHMaCG600h7-" width="40px" align="center"> > select <img src="https://drive.google.com/uc?id=1CjT-XH_jkv3bq13Xx-e6X111BwcaA30F" width="150px" align="center"> > select <img src="https://drive.google.com/uc?id=1iANVfIUhv7FFK6GsHqBWtTYozyAxQXRm" width="150px" align="center"> > click <img src="https://drive.google.com/uc?id=1Fxl8d9jNIjyvVliqTybdK_qPxv6gj9jQ" width="150px" align="center">



---

Once you have downloaded the image, you may be asked to give the image a specific file name. In this case, the drawing tool will automatically supply the file name we will use, "x(t).png".

 *This file name is case sensitive and must match exactly what is requested in the Colab notebook, otherwise when you finish the notebook it will produce an error.*

To upload an image, click on the Folder icon on the left toolbar. It should look like the image below.

> <img src="https://drive.google.com/uc?id=1zJDI2KUBe5DvopgRP_vsXX-JocrCNtB5" align = "center">
>
> Figure 1

https://drive.google.com/file/d/1zJDI2KUBe5DvopgRP_vsXX-JocrCNtB5/view?usp=sharing

You will see that Figure_1 that we generated earlier is already here. If you had not generated the plot earlier and used the plt.savefig function, that .png file would not appear here.

Next, you will click the upload icon and select which file to upload. After uploading, the menu should look like this:

> <img src="https://drive.google.com/uc?id=1ZbASIUt6QRJl_yyb1SfBR1XY0fPJo8j6" align = "center">
>
> Figure 2

https://drive.google.com/file/d/1ZbASIUt6QRJl_yyb1SfBR1XY0fPJo8j6/view?usp=sharing

There will be a warning that displays stating that the images will not be saved after the runtime ends. You should save any images you upload on your personal device or cloud-based storage for future reference.

*If the "Files" Tab instead shows a large list of folders, the file should go into the "content" folder. If you image upload is at the bottom of the list, click and drag them to the content folder.*


---
> * Q12: **Now, as shown above, upload "$\text{x(t).png}$" by clicking the "Files" folder icon, <img src="https://drive.google.com/uc?id=1yzCbxAAm5Z-lnIiCxuXjYdVloopFFcpC" width="35px" align="center">, on the left toolbar and click the "Upload" icon, <img src="https://drive.google.com/uc?id=1xFzkrdU-iT6pZhJGEmUfa0yDGDqu9Wxi" width="35px" align="center">. Find "$\text{x(t).png}$" on your computer.**
>
> *(**Note:** These file names are case sensitive and must be saved exactly as instructed.)*



---


---

<h1>$\text{Practice}$</h1>

---

---

<h2>$\text{Data Manipulation}$</h2>

---

<big> Planet name </big> | <big> Period (Earth days) </big> | <big> Semi-major axis (AU) </big>
:-: | :-: | :-:
<big> KEPLER-10 b </big> | <big> 0.837 </big> | <big> 0.017 </big>
<big> KEPLER-41 b </big> | <big> 1.856 </big> | <big> 0.029 </big>
<big> KEPLER-1 b </big> | <big> 2.471 </big> | <big> 0.03 </big>
<big> KEPLER-8 b </big> | <big> 3.522 </big> | <big> 0.047 </big>
<big> KEPLER-48 b </big> | <big> 4.778 </big> | <big> 0.053 </big>
<big> KEPLER-25 b </big> | <big> 6.239 </big> | <big> 0.07 </big>
<big> KEPLER-18 c </big> | <big> 7.642 </big> | <big> 0.075 </big>
<big> KEPLER-11 b </big> | <big> 10.304 </big> | <big> 0.092 </big>
<big> KEPLER-29 c </big> | <big> 13.29 </big> | <big> 0.107 </big>
<big> KEPLER-18 d </big> | <big> 14.859 </big> | <big> 0.116 </big>
<big> KEPLER-36 c </big> | <big> 16.231 </big> | <big> 0.129 </big>
<big> KEPLER-9 b </big> | <big> 19.274 </big> | <big> 0.143 </big>
<big> KEPLER-39 b </big> | <big> 21.087 </big> | <big> 0.15 </big>
<big> KEPLER-11 d </big> | <big> 22.687 </big> | <big> 0.156 </big>
<big> KEPLER-30 b </big> | <big> 29.164 </big> | <big> 0.184 </big>
<big> KEPLER-11 e </big> | <big> 31.996 </big> | <big> 0.196 </big>
<big> KEPLER-9 c </big> | <big> 38.907 </big> | <big> 0.229 </big>
<big> KEPLER-11 f </big> | <big> 46.687 </big> | <big> 0.252 </big>
<big> KEPLER-30 c </big> | <big> 60.323 </big> | <big> 0.298 </big>
<big> KEPLER-11 g </big> | <big> 118.364 </big> | <big> 0.469 </big>
<big> KEPLER-30 d </big> | <big> 143.213 </big> | <big> 0.53  </big>

**Table 1** - Orbital characteristics for some of the confirmed exoplanets from the Kepler mission.

Table 1 shows the orbital period $T$ (the independent variable) and semi-major axis $a$ (the dependent variable) for some confirmed exoplanets from the Kepler mission. Let's say that we want to calculate $T^2$ for every period in the table.  When making repetitive calculations, you can make use of arrays as outlined above.

---
> * Q13: **Define an array `T` for the orbital period and fill it with your data by completing the code below. Each data point should be separated by a comma. Don't forget to run the cell when you are finished. Remember, you must enter the data as floats.**

In [ ]:
T = np.array(["period 1", "period 2", "period 3", "..."])

---

---
> * Q14: **Now, we will define a new array `T_squared` and populate it with $T^2$ values.  Remember, to designate an exponent you must use the "double asterisk" operator ` ** `, NOT the `^` operator.**

In [ ]:
T_squared = "write equation here"

print(T_squared)

---

---
> * Q15: **Repeat the steps in Q13 and Q14 to finish the code below and create a separate array for the semi-major axis data. Use your array to calculate $a^3$ for each data point. Remember, to designate an exponent you must use the "double asterisk" operator ` ** ` , NOT the `^` operator.**

In [ ]:
a = np.array(["axis 1", "axis 2", "axis 3", "..."])
a_cubed = "write equation here"
print(a_cubed)

---

---

<h2>$\text{Creating Plots}$</h2>

---

You will now create a plot using your calculated values.  Because we have already listed our data in two separate arrays, `T_squared` and `a_cubed`, we will not need to use indexing to separate our $x$ and $y$ values as shown in the "Discrete Variable" section above.

---
> * Q16: **Complete the code below to create a discrete plot of your calculated values.**

In [ ]:
plt.plot(X DATA HERE, Y DATA HERE, 'o')
plt.ylabel("make sure to properly label your y-axis here")
plt.xlabel("make sure to properly label your x-axis here")

# do not change anything below this line #

plt.savefig('Figure_3.png', dpi = 600, bbox_inches = "tight")

---

<big> You must use `Shift+Enter` or press the "play" arrow <img src="https://drive.google.com/uc?id=1p_-EqzaDj0MNnNE3C5e6rMFv6CbaAHuF" width="40px" align="center"> button in the top left corner of each cell and **run all cells** in the notebook. The cell below compiles all of your responses to short answer questions, the figures you plotted and uploaded, and will watermark the compiled PDF document. You must run this cell for each Pre-Lab and Lab assignment. </big>

In [ ]:
#@markdown # <font color="cornflowerblue">  To receive FULL CREDIT, you MUST run this cell AFTER completing the notebook and upload the PDF file to HuskyCT.

#@markdown # <font color="cornflowerblue"> To access the PDF, click on the "File" icon in the toolbar to the left.

!pip install reportlab
import datetime

from reportlab.lib import colors
from reportlab.lib.pagesizes import letter, inch, portrait
from reportlab.platypus import SimpleDocTemplate, Table, TableStyle, Paragraph, Image, PageBreak, Spacer
from reportlab.lib.styles import getSampleStyleSheet

Course_Number = "1501Q"
Lab_Number = "IntroPython"
file_timestamp = datetime.datetime.today().strftime('%Y-%m')
Section_Number = (Section)[0:3]

doc = SimpleDocTemplate(str(file_timestamp)+"_"+str(Course_Number)+
                        "_"+str(Section_Number)+"_"+str(Lab_Number)+
                        "_"+str(Student_Name)+".pdf",
                        pagesize=letter, rightMargin=50,
                        leftMargin=50, topMargin=50,bottomMargin=50)
doc.pagesize = portrait(letter)
elements = []

timestamp = datetime.datetime.now().isoformat()

header = [
["timestamp:", str(timestamp)],
["Course_Number:", str(Course_Number)],
["Section_Number:", str(Section_Number)],
["Assignment:", str(Lab_Number)],
["Student_Name:", str(Student_Name)],

]

questions = [
["", "Questions"],
["Q1:", str(Q1)],
["Q2:", str(Q2)],
["Q3:", str(Q3)],
["Q4:", str(Q4)],
["Q5:", str(Q5)],
["Q6:", str(Q6)],
["Q7:", str(Q7)],
["Q8:", str(Q8)],
["Q9:", str(Q9)],
["T:", str(T)],
["T_squared:", str(T_squared)],
["a_cubed:", str(a_cubed)]

]

fig1 = Image("Figure_1.png", width = 200, height = 132)
fig1.hAlign = 'LEFT'

fig2 = Image("x(t).png", width=200, height = 132)
fig2.hAlign = 'LEFT'

fig3 = Image("Figure_3.png", width = 200, height = 132)
fig3.hAlign = 'LEFT'


figdata = [
["Q10", "Q12"],
[[fig1], [fig2]],
["Q16"],
[[fig3]],
]

#TODO: Get this line right instead of just copying it from the docs
style = TableStyle([('ALIGN',(1,1),(-2,-2),'RIGHT'),
                       ('TEXTCOLOR',(1,1),(-2,-2),colors.black),
                       ('VALIGN',(0,0),(0,-1),'TOP'),
                       ('TEXTCOLOR',(0,0),(0,-1),colors.black),
                       ('ALIGN',(0,-1),(-1,-1),'CENTER'),
                       ('VALIGN',(0,-1),(-1,-1),'MIDDLE'),
                       ('TEXTCOLOR',(0,-1),(-1,-1),colors.black),
                       ('INNERGRID', (0,0), (-1,-1), 0.25, colors.black),
                       ('BOX', (0,0), (-1,-1), 0.25, colors.black),
                       ])

#Configure style and word wrap
s = getSampleStyleSheet()
s = s["BodyText"]
s.wordWrap = 'CJK'
header2 = [[Paragraph(cell, s) for cell in row] for row in header]
questions2 = [[Paragraph(cell, s) for cell in row] for row in questions]
t1=Table(header2,colWidths=(100,None))
t1.setStyle(style)
t2=Table(questions2,colWidths=(100,None))
t2.setStyle(style)
t3=Table(figdata)
t3.setStyle(style)

#Send the data and build the file
elements.append(t1)
elements.append(Spacer(1, inch * 0.5))
elements.append(t2)
elements.append(PageBreak())
elements.append(t3)
doc.build(elements)

---
---
---

<h1>$\text{End of Notebook}$</h1>

---